.section-about{
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(phone) {
        padding: 20rem 0;
    }
}


.heading-secondary {
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3rem;
    display: inline-block;
    background-image: linear-gradient(to right, $Light-green, $Dark-green);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;

    @include respond(phone) {
        font-size: 2.5rem;
    }

    @include respond(smallphone) {
        font-size: 2.3rem;
        letter-spacing: .1rem;
    }
}

.heading-tertiary {
    font-size: 1.6rem;   
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}

.about {
    &__container {
        display: flex;
        justify-content: space-between;

        @include respond(laptop) {
            justify-content: space-around;
        }

        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__text {
        flex: 0 0 45%;
    }

    &__image {
        flex: 0 0 50%;
    }
}



