* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

html {
    font-size: 62.5%; // 1rem = 10px

    @include respond(bigdesktop) {
        font-size: 80%; //1rem = 12.8px
    }

    @include respond(Desktop) {
        font-size: 56.25%; //1rem = 9px
    }

    @include respond(laptop) {
        font-size: 50%; //1rem = 8px
    }

    @include respond(tablet) {
        font-size: 43.75%; //1rem = 7px
    }

    @include respond(phone) {
        font-size: 37.5%; //1rem = 6px
    }

    @include respond(smallphone) {
        font-size: 31.25%; //1rem = 5px
    }
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $body-color;
    padding: 3rem;

    @include respond(laptop) {
        padding: 0;
    }
}

.container {
    max-width: 114rem;
    margin: 0 auto;

    @include respond(phone) {
        max-width: 50rem;
    }
}