.u-center-text{text-align: center;}

.u-margin-bottom-big{
    margin-bottom: 8rem !important;

    @include respond(phone) {
        margin-bottom: 5rem !important;
    }
}
.u-margin-bottom-medium{
    margin-bottom: 4rem !important;

    @include respond(phone) {
        margin-bottom: 3rem !important;
    }
}
.u-margin-bottom-small{margin-bottom: 1.5rem !important;}
.u-margin-bottom-smaller{margin-bottom: 1rem !important;}

.u-margin-top-hug{margin-top: 5rem !important;}
